/* 
================  
Fonts
================  
*/
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Lato:wght@400;700&display=swap");

/* 
================  
Variables
================  
*/
:root {
  /* lighter shades of primary color */
  --clr-airbnb: #ff385c;

  /* grey used for paragraphs */
  --clr-white: #fff;
  --clr-black: #000;

  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --nav-height: 5rem;
  --borderRadius: 0.5rem;
}
/* 
================  
Global Variables
================  
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--clr-black);
  background: var(--clr-white);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
h1,
h2,
h3 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.75rem;
}
p {
  font-size: 0.875rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  p {
    font-size: 1rem;
  }
}
/* 
================  
Global classes
================  
*/
/* .section {
  padding: 5rem 0;
} */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-center {
  width: 88vw;
  margin: 0 auto;
  max-width: 1380px;
}
/* @media screen and (min-width: 992px) {
  .section-center {
    width: 88vw;
  }
} */
.container-center {
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: grid;
  row-gap: 2rem;
}
@media screen and (min-width: 742px) {
  .container-center {
    padding-top: 12rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .container-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1170px) {
  .container-center {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* single card */
.single-bb {
  display: none;
}
.single-center {
  width: 88vw;
  max-width: 1170px;
  margin: 0 auto;
}
.single-condition {
  display: none;
  flex-direction: column;
}
.single-img-container {
  display: none;
}
.single-info {
  display: none;
}

.single-title {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}
.single-title span {
  cursor: pointer;
  font-size: 1.5rem;
  padding-right: 0.6rem;
}
.single-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.start-subtitle {
  display: flex;
  justify-content: flex-start;
  gap: 0.6rem;
}
.text2-dot {
  height: 3px;
  width: 3px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.4);
  align-self: center;
  padding-top: 0.1rem;
}
.underline {
  text-decoration: underline;
}
.text-dot {
  height: 2px;
  width: 2px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.4);
  align-self: center;
  margin-top: 0.1rem;
}
.single-nav {
  display: none;
}
.end-subtitle {
  display: none;
}

.single-icon-start {
  position: absolute;
  top: 7%;
  left: 5%;
  display: flex;
  transform: translate(50);
}
.single-icon-end {
  position: absolute;
  top: 7%;
  right: 5%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.single-text-text {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-17%, -50%);
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1.5rem 1rem;
  text-align: center;
  box-shadow: var(--dark-shadow);
  border-radius: var(--borderRadius);
}
.single-move-next {
  position: absolute;
  bottom: 7%;
  right: 5%;
}
.single-move-count {
  position: absolute;
  bottom: 7%;
  left: 5%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem;

}
.single-move-count p{
    font-size: 1.2rem;
}

.single-icon-icon {
  width: 2.5rem;
  height: 2.5rem;
  background: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--dark-shadow);
}
.heart-like {
  color: var(--clr-airbnb);
}
.single-nav-img {
  position: relative;
  min-height: 90vh;
}
.single-nav-img .single-img {
  height: 90vh;
  object-fit: cover;
}

@media screen and (min-width: 742px) {

  .single-bb {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 98vw;
  }
  .single-condition {
    display: flex;
    flex-direction: column;
  }
  .single-nav-img {
    display: none;
  }
  .single-nav {
    display: block;
  }
  .single-img-container {
    order: 0;
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 200px);
    grid-template-areas:
      "a a b c"
      "a a d e";
    gap: 1rem;
  }
  .single-img {
    width: 100%;
    height: 100%;
  }
  .single {
    height: 100%;
    cursor: pointer;
    background: rgba(0, 0, 0, 1);
    border-radius: var(--borderRadius);
  }
  .imageOne {
    grid-area: a;
  }
  .single-img-one {
    border-top-left-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);
  }
  .imageTwo {
    grid-area: b;
  }
  .imageThree {
    grid-area: c;
  }
  .single-img-three {
    border-top-right-radius: var(--borderRadius);
  }
  .imageFour {
    grid-area: d;
  }
  .imageFive {
    grid-area: e;
  }
  .single-img-five {
    border-bottom-right-radius: var(--borderRadius);
  }

  .single:hover .single-img {
    opacity: 0.9;
  }
  .single-info {
    display: block;
    padding-top: 1.5rem;
  }

  .single-title {
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
  }
  .single-title span {
    cursor: pointer;
    font-size: 1.5rem;
    padding-right: 0.6rem;
  }
  .single-subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .start-subtitle {
    display: flex;
    justify-content: flex-start;
    gap: 0.6rem;
  }
  .end-subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .end-subtitle .e-icons {
    font-size: 1.1rem;
    padding-top: 0.3rem;
    cursor: pointer;
  }
  .end-subtitle .underline {
    cursor: pointer;
  }
}
